In [39]:
import pandas as pd
placement=pd.read_csv("C:/Users/HP/Documents/Datasets/datasets_596958_1073629_Placement_Data_Full_Class.csv")

In [40]:
#placement datasets
x=placement.iloc[:,2:10]   # downloaded from kaggel
y=placement.iloc[:,14:15]
print(x.head())
print(y.head())

   ssc_p    ssc_b  hsc_p    hsc_b     hsc_s  degree_p   degree_t workex
0  67.00   Others  91.00   Others  Commerce     58.00   Sci&Tech     No
1  79.33  Central  78.33   Others   Science     77.48   Sci&Tech    Yes
2  65.00  Central  68.00  Central      Arts     64.00  Comm&Mgmt     No
3  56.00  Central  52.00  Central   Science     52.00   Sci&Tech     No
4  85.80  Central  73.60  Central  Commerce     73.30  Comm&Mgmt     No
     salary
0  270000.0
1  200000.0
2  250000.0
3       NaN
4  425000.0

In [41]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y,train_size=0.80,test_size=0.20,random_state=101)
print("x_train:",x_train.shape)
print("y_train:",y_test.shape)
print("x_test:",x_test.shape)
print("y_test:",y_test.shape)

x_train: (172, 8)
y_train: (43, 1)
x_test: (43, 8)
y_test: (43, 1)

In [42]:
#Iris
iris=pd.read_csv("C:\\Users\\HP\\Documents\\Datasets\\datasets_19_420_Iris.csv")
x=iris.iloc[:,2:5]
y=iris.iloc[:,5:6]
x.head()

   SepalWidthCm  PetalLengthCm  PetalWidthCm
0           3.5            1.4           0.2
1           3.0            1.4           0.2
2           3.2            1.3           0.2
3           3.1            1.5           0.2
4           3.6            1.4           0.2

In [43]:
y.head()

       Species
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa

In [44]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y,train_size=0.80,test_size=0.20,random_state=101)
print("x_train:",x_train.shape)
print("y_train:",y_test.shape)
print("x_test:",x_test.shape)
print("y_test:",y_test.shape)

x_train: (120, 3)
y_train: (30, 1)
x_test: (30, 3)
y_test: (30, 1)

In [45]:
#Diabeties
dbt=pd.read_csv("C:\\Users\\HP\\Documents\\Diabetes.csv")
x=dbt.iloc[:,1:8]
y=dbt.iloc[:,8:9]

In [46]:
x.head()

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,148,72,35,0,33.6,0.627,50
1,85,66,29,0,26.6,0.351,31
2,183,64,0,0,23.3,0.672,32
3,89,66,23,94,28.1,0.167,21
4,137,40,35,168,43.1,2.288,33

In [47]:
y.head()

  is_diabetic
0         Yes
1          No
2         Yes
3          No
4         Yes

In [48]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y,train_size=0.80,test_size=0.20,random_state=101)
print("x_train:",x_train.shape)
print("y_train:",y_test.shape)
print("x_test:",x_test.shape)
print("y_test:",y_test.shape)

x_train: (614, 7)
y_train: (154, 1)
x_test: (154, 7)
y_test: (154, 1)