# KNN Algorithm
Reading and separating data

In [19]:
import numpy as np
import pandas as pd
import seaborn as sns
iris=sns.load_dataset("iris")
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [20]:
x=iris.iloc[:,0:4]
y=iris.iloc[:,4:5]

splitting data

In [21]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=123)
x_train

     sepal_length  sepal_width  petal_length  petal_width
130           7.4          2.8           6.1          1.9
119           6.0          2.2           5.0          1.5
29            4.7          3.2           1.6          0.2
0             5.1          3.5           1.4          0.2
62            6.0          2.2           4.0          1.0
..            ...          ...           ...          ...
17            5.1          3.5           1.4          0.3
98            5.1          2.5           3.0          1.1
66            5.6          3.0           4.5          1.5
126           6.2          2.8           4.8          1.8
109           7.2          3.6           6.1          2.5

[120 rows x 4 columns]

Model import

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=8)

Fit Model

In [23]:
knn.fit(x_train,y_train)

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=8, p=2,
                     weights='uniform')

Model Predict

In [24]:
y_pred=knn.predict(x_test)
y_pred
np.array(y_test)

array([['versicolor'],
       ['virginica'],
       ['virginica'],
       ['versicolor'],
       ['setosa'],
       ['virginica'],
       ['versicolor'],
       ['setosa'],
       ['setosa'],
       ['versicolor'],
       ['virginica'],
       ['setosa'],
       ['versicolor'],
       ['virginica'],
       ['virginica'],
       ['virginica'],
       ['setosa'],
       ['setosa'],
       ['versicolor'],
       ['setosa'],
       ['setosa'],
       ['virginica'],
       ['setosa'],
       ['virginica'],
       ['setosa'],
       ['setosa'],
       ['setosa'],
       ['virginica'],
       ['virginica'],
       ['setosa']], dtype=object)

Confusion Matrix

In [25]:
from sklearn.metrics import confusion_matrix
confMat=confusion_matrix(y_test,y_pred)
confMat

array([[13,  0,  0],
       [ 0,  6,  0],
       [ 0,  1, 10]], dtype=int64)

Accuracy

In [26]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.9666666666666667