Q1. What is tuple?

In a python tuple is similar to list except that the objects in tuple are immutable which means we cannot change the elements of a tuple once assigned.

Q2. What is difference between list and tuple?

The elements of a list are mutable whereas the elements of tuple are immutable. When we do not want to change the data over time, the tuple is a preffered data type whereas when we need to change the data in future, list wise be option. Iterating over the elements of a tuple is faster compared to iterating over list. Elements of a tuple are enclosed in parenthesis whereas the elements of a list are enclose in square bracket.

Q3. What is the result of range(1,12,1)

In [1]:
range(1,12,1)

range(1, 12)

Q4. Assuming a=[10,20,30,40,50] a) find length of a list? b)find the minimum and maximum of a list?

In [7]:
a=[10,20,30,40,50]
print(len(a))
print(max(a),min(a))

5
50 10

Q5. If x=[1,2,3,4,5,1,3,1] then what is the result of x*2 and x.count(1)?

In [8]:
x=[1,2,3,4,5,1,3,1]
print(x*2)
print(x.count(1))

[1, 2, 3, 4, 5, 1, 3, 1, 1, 2, 3, 4, 5, 1, 3, 1]
3

Q6. Create a list of colours name and then print first and last color name of the list using slicing?

In [21]:
list=["red","green","white"]
print(list[0:1],list[2:3])

['red'] ['white']

Q7. If list=[1,4,7,'a','c',"rat","mat",4,6,4] then add element 12 using append method and remove rat element using remove method in the given list?

In [75]:
list=[1,4,7,'a',"rat","mat",'c',4,6,4]
list.append(12)
print('Updated List:',list)
list.remove("rat")
print('Updated List:', list)

Updated List: [1, 4, 7, 'a', 'rat', 'mat', 'c', 4, 6, 4, 12]
Updated List: [1, 4, 7, 'a', 'mat', 'c', 4, 6, 4, 12]

Q8. Create two list and concatenate them and then repeat 1st list 3 times?

In [42]:
x="Python is "
y="awesome"
print(x+y)
print([x]*3)

Python is awesome
['Python is ', 'Python is ', 'Python is ']

Q9. Create a tuple of fruits name and then access first 4 elements from the tuple?

In [45]:
t1=("orange","apple","banana","mangno","strawbery")
t1[0:4]

('orange', 'apple', 'banana', 'mangno')

Q10. Create a list using range function and then convert this list into tuple using tuple function?

In [59]:
l2=[*range(10,21,1)]
print(l2)
tuple(l2)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

(10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

Q11. Create a tupple using eval function and then obtained the length of tuple?

In [89]:
l3="(1,5,7,8,2)"
l3=eval(l3)
print(l3)
print(len(l3))

(1, 5, 7, 8, 2)
5

Q12. Create a tuple of integer number and then sort the elements of tuple?

In [66]:
tu2=(1,4,5,9,41,11,54)
sorted(tu2)

[1, 4, 5, 9, 11, 41, 54]

Q13. Create a list of colours name and then insert purple color on 3rd position using insert method?

In [74]:
l4=["red","orange","green","black"]
l4.insert(2,"purple")
print('Updated List:', l4)

Updated List: ['red', 'orange', 'purple', 'green', 'black']

Q14. If x=(50,60,70,80,90,(200,100)) the access 200,100 from the tuple?

In [90]:
x=(50,60,70,80,90,(200,100))
print(x[-1])

(200, 100)

Q15.Create a nested list and nested tuple?

In [88]:
list=[1,2,"rat",'a',[10,20]]
tuple=(20,15,"red",'a',(10,20,30),'a')
print(list)
print(tuple)

[1, 2, 'rat', 'a', [10, 20]]
(20, 15, 'red', 'a', (10, 20, 30), 'a')