Q1. What is meant by dictionary?

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

Q2. What is difference between dictionary and set?

Dictionaries are unordered sets. But the main difference is that items in dictionaries are accessed via keys and not via their position. The values of a dictionary can be any Python data type. A set is a collection which is unordered and unindexed.

Q3. Create a python set of mixed data types?

In [7]:
x=[1,2,3,(100,200),'a','b',"red",45,52,2.5,-5]
set(x)

{(100, 200), -5, 1, 2, 2.5, 3, 45, 52, 'a', 'b', 'red'}

Q4. Create a Dictionary of employee name, id and salary?

In [115]:
d1={"Name":"Jaee","Id":"AIS039","Salary":"2500"}
d2={"Name":"Saee","Id":"AIS035","Salary":"3500"}
d3={"Name":"Trisha","Id":"AIS049","Salary":"5500"}
twodimdict={1:d1,2:d2,3:d3}
print(twodimdict)

{1: {'Name': 'Jaee', 'Id': 'AIS039', 'Salary': '2500'}, 2: {'Name': 'Saee', 'Id': 'AIS035', 'Salary': '3500'}, 3: {'Name': 'Trisha', 'Id': 'AIS049', 'Salary': '5500'}}

Q5. Display key-value pairs from dictionary using items () method?

In [19]:
d1={"Name":"Jaee","Id":"AIS039","Salary":"2500"}
d2={"Name":"Saee","Id":"AIS035","Salary":"3500"}
d3={"Name":"Trisha","Id":"AIS049","Salary":"5500"}
test_dict={1:d1,2:d2,3:d3}
#print("Original dictionary is :"+str(test_dict))
#using dict.item()
print("Dict key-value are : ")
for key, value in test_dict.items():
   print(key, value)

Dict key-value are :
1 {'Name': 'Jaee', 'Id': 'AIS039', 'Salary': '2500'}
2 {'Name': 'Saee', 'Id': 'AIS035', 'Salary': '3500'}
3 {'Name': 'Trisha', 'Id': 'AIS049', 'Salary': '5500'}

Q6. Create a dictionary and then access values of 2nd key from the dictionary?

In [114]:
dict={'Student Name':'Siya','Roll No.':12,'Subject':'English'}
print(('Roll No.',dict.get('Roll No.')), ('Subject',dict.get('Subject')))

('Roll No.', 12) ('Subject', 'English')

Q7. Create a dictionary and then print empty dictionary using clear() method?

In [64]:
dict={'Student Name':'Siya','Roll No.':12,'Subject':'English'}
dict.clear()
print(dict)

{}

Q8. Create a Dictionary of name, roll no,marks, gender and access, keys from the dictionary using key () method?

In [67]:
dict={'Name':'Siya','Roll No.':12,'Marks':50,'gender':'female'}
dict.keys()

dict_keys(['Name', 'Roll No.', 'Marks', 'gender'])

Q9. Take set A for even and B for odd and print the union of two set?

In [69]:
A={2,4,6,8,10,12,14}
B={3,9,13,15,17,19,23}
A.union(B)

{2, 3, 4, 6, 8, 9, 10, 12, 13, 14, 15, 17, 19, 23}

Q10. If A={1,2,3,4,5} and B={4,5,6,7,8} then find difference, intersection of set A and B?

In [73]:
A={1,2,3,4,5} 
B={4,5,6,7,8}
print(A.difference(B))
print(A.intersection(B))

{1, 2, 3}
{4, 5}

Q11. If set={1,2,3,5,6} then add an element 4 in the set using add () function and remove 3 using discard () function?

In [82]:
set={1,2,3,5,6}
set.add(4)
print('Updated set:',set)
set.discard(3)
print('Updated set:',set)

Updated set: {1, 2, 3, 4, 5, 6}
Updated set: {1, 2, 4, 5, 6}

Q12. Add 12,9,11 in the set A={1,2,3,5,6} using update function?

In [87]:
A={1,2,3,5,6}
s={12,9,11}
A.update(s)
print('Updated A:',A)

Updated A: {1, 2, 3, 5, 6, 9, 11, 12}

Q13. Create a set and print the sum of all the elements in the set?

In [91]:
set1={1,2,3,4,5}
print('sum of all elements in the set1:',sum(set1))

sum of all elements in the set1: 15

Q14. If myset={"a","p","p","l","e"} then check whether a and r is in the set or not using membership operator?

In [101]:
myset={"a","p","p","l","e"}
a_in_myset="a" not in myset
print('a in myset:',a_in_myset)
r_in_myset="r" not in myset
print('r in myset:',r_in_myset)

a in myset: False
r in myset: True

Q15.Create a dictionary of players name and runs in match and print keys and values in dictionary using loop?

In [113]:
d1={"Players Name":"Kohli","runs":"101"}
d2={"Players Name":"Dhoni","runs":"95"}
d3={"Players Name":"Sharma","runs":"115"}
dic={1:d1,2:d2,3:d3}
for k, v in dic.items() :
    print(k, v)

1 {'Players Name': 'Kohli', 'runs': '101'}
2 {'Players Name': 'Dhoni', 'runs': '95'}
3 {'Players Name': 'Sharma', 'runs': '115'}